what is this
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head><title>Botique Management System</title>
</h:head>
<h:body >
    <h:form id="form">

        <h1 class="text-muted">Botique Management System</h1>
        <p:panelGrid columns="4">
            <p:link outcome="Signin" value="SignIn" id="signin" ></p:link>
            <p:link outcome="contact" value="Contact" id="contact"></p:link>
            <p:link outcome="SignUp" value="SignUp" id="signup"></p:link>

        </p:panelGrid>
        <p:panelGrid columns="1">
            Username
            <p:inputText id="username" value="#{customerBean.customer.username}"></p:inputText>
            Email
            <p:inputText id="email" value="#{customerBean.customer.email}"></p:inputText>
            password
            <p:inputText id="password" value="#{customerBean.customer.password}"></p:inputText>
            confirm password
            <p:inputText id="confirmpassword" value="#{customerBean.customer.confirmpassword}"></p:inputText>
            <p:commandButton value="signup"   action="#{customerBean.saveDB}" update=":form:dataTable"></p:commandButton>
        </p:panelGrid>
            <p:dataTable id="dataTable" var="Rows" value="#{customerBean.getallCustomer()}">
                <p:column headerText="Customer username">
                    <p:outputLabel value="#{Rows.username}"></p:outputLabel>
                </p:column>
                <p:column headerText="password">
                    <p:outputLabel value="#{Rows.password}"></p:outputLabel>
                </p:column>
                <p:column headerText="Action">
                    <p:commandButton id="deleteButton" value="Delete" action="#{customerBean.DeleteRow(Rows)}" update="dataTable"/>
                </p:column>
            </p:dataTable>

        <p:watermark value="enter username" for="username"></p:watermark>
        <p:watermark value="enter email"    for="email"></p:watermark>
        <p:watermark value="enter password" for="password"></p:watermark>
        <p:watermark value="confirm password" for="confirmpassword"></p:watermark>
    </h:form>
</h:body>
</html>
